<section class="events__area pt-40 pb-40">
  <div class="events__shape">
    <img class="events-1-shape" src="assets/img/events/events-shape.png" alt="">
  </div>
  <div class="">
    <div class="row">
      <div class="col-xxl-4 offset-xxl-4">
        <div class="section__title-wrapper mb-60 text-center">
          <h2 class="section__title">Upcoming <span class="yellow-bg yellow-bg-big">Events<img
                src="assets/img/shape/yellow-bg.png" alt=""></span></h2>
          <p>Join us for the latest events and programs offered by our academy.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
        <div class="events__item mb-10 hover__active">
          <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
            <div class="events__content">
              <div class="events__meta">
                <span>March 15, 2025</span>
                <span>2:00 pm - 4:30 pm</span>
                <span>Masjid Al-Huda</span>
              </div>
              <h3 class="events__title"><a [routerLink]="['/']">Quran Recitation Competition</a></h3>
            </div>
            <div class="events__more">
              <!-- <a [routerLink]="['/event-details']" class="link-btn">
                Learn More
                <i class="far fa-arrow-right"></i>
                <i class="far fa-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
        <div class="events__item mb-10 hover__active active">
          <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
            <div class="events__content">
              <div class="events__meta">
                <span>April 20, 2025</span>
                <span>10:00 am - 1:00 pm</span>
                <span>Al-Falah Center</span>
              </div>
              <h3 class="events__title"><a [routerLink]="['/']">Arabic Language Workshop</a></h3>
            </div>
            <div class="events__more">
              <!-- <a [routerLink]="['/event-details']" class="link-btn">
                Learn More
                <i class="far fa-arrow-right"></i>
                <i class="far fa-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
        <div class="events__item mb-10 hover__active">
          <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
            <div class="events__content">
              <div class="events__meta">
                <span>May 10, 2025</span>
                <span>3:00 pm - 5:00 pm</span>
                <span>Islamic Cultural Center</span>
              </div>
              <h3 class="events__title"><a [routerLink]="['/']">Hadith Studies Seminar</a></h3>
            </div>
            <div class="events__more">
              <!-- <a [routerLink]="['/event-details']" class="link-btn">
                Learn More
                <i class="far fa-arrow-right"></i>
                <i class="far fa-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
        <div class="events__item mb-10 hover__active">
          <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
            <div class="events__content">
              <div class="events__meta">
                <span>June 5, 2025</span>
                <span>11:00 am - 12:30 pm</span>
                <span>Dar Al-Hikmah</span>
              </div>
              <h3 class="events__title"><a [routerLink]="['/']">Islamic History Lecture</a></h3>
            </div>
            <div class="events__more">
              <!-- <a [routerLink]="['/event-details']" class="link-btn">
                Learn More
                <i class="far fa-arrow-right"></i>
                <i class="far fa-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>