@model IEnumerable<RouhElQuran.Dto_s.CourseDto>
@{
	ViewData["Title"] = "Dashboard - Curses Management";
}


<div class="row">
	<div class="col-md-12 col-lg-12 col-xl-12 order-0 mb-6">

		<div class="card p-4">
			<div class="card-datatable">
				<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
					<div class="card-header flex-column flex-md-row pb-0">
						<div class="head-label text-center">
							<h5 class="card-title mb-0">
								Courses Management
							</h5>
						</div>
						<div class="dt-action-buttons text-end pt-6 pt-md-0">
							<div class="dt-buttons btn-group flex-wrap">
								<div class="btn-group">
									<button class="btn btn-secondary btn buttons-collection dropdown-toggle btn-label-primary me-4" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false">
										<span>
											<i class="bx bx-export bx-sm me-sm-2"></i>
											<span class="d-none d-sm-inline-block">Export</span>
										</span>
									</button>
								</div>
								@* data-bs-target="#CourseCreateEditForm" aria-controls="DataTables_Table_0" data-bs-toggle="modal"*@
								<button class="btn btn-secondary create-new btn-primary" onclick="Get('Courses/CreateEdit/', 'modalContent','CourseCreateEditModalId')" tabindex="0" type="button">
									<span>
										<i class="bx bx-plus bx-sm me-sm-2">

										</i>
										<span class="d-none d-sm-inline-block">
											Add New Record
										</span>
									</span>
								</button>
							</div>
							<!-- Form to CreateEdit course using EndPoint To return PartialView -->
							@* @await Html.PartialAsync("Courses/_CreateEdite", new RouhElQuran.Dto_s.CourseDto()) *@
							<div class="modal fade" id="CourseCreateEditModalId" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog modal-xl">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Course</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body" id="modalContent"></div>
									</div>
								</div>
							</div>

						</div>
					</div>




					<div class="row">
						<div class="col-sm-12 col-md-12 d-flex justify-content-center justify-content-md-start  mb-3 mt-n6 mt-md-0">
							<div id="DataTables_Table_0_filter" class="dataTables_filter">
								<label>
									Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0">
								</label>
							</div>
						</div>
					</div>
					<table class="datatables-basic table border-top dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 1044px;">
						<thead>
							<tr>
								<th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 18px;" data-col="1" aria-label=""><input type="checkbox" class="form-check-input"></th>
								<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 241px;" aria-label="Name: activate to sort column ascending">Name</th>
								<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 241px;" aria-label="Name: activate to sort column ascending">Time</th>
								<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 241px;" aria-label="Sission Time: activate to sort column ascending">SissionTime</th>
								<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 75px;" aria-label="Date: activate to sort column ascending">Date</th>
								<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 73px;" aria-label="Salary: activate to sort column ascending">Price</th>
								<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 73px;" aria-label="Specialty: activate to sort column ascending">Specialty</th>
								<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 90px;" aria-label="Status: activate to sort column ascending">Status</th>
								<th class="sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0px; " aria-label="Actions">Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr class="odd">
									<td class="  dt-checkboxes-cell"><input type="checkbox" class="dt-checkboxes form-check-input"></td>
									<td class="" style="">
										<div class="d-flex align-items-center">
											<span class="me-4"><span class="badge bg-label-info rounded p-1_5"><i class="icon-base bx bxl-react icon-28px"></i></span></span>
											<div>
												<a class="text-heading text-truncate fw-medium mb-2 text-wrap" href="app-academy-course-details.html">
													@item.CrsName
												</a>
												<div class="d-flex align-items-center mt-1">
													<div class="avatar-wrapper me-2">
														<div class="avatar avatar-xs">
															<img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle">
														</div>
													</div>
													<small class="text-nowrap text-heading">Aluin Leveritt</small>
												</div>
											</div>
										</div>
									</td>
									<td>@item.CoursesTime</td>
									<td>@item.SessionTime</td>
									<td>07/04/2021</td>
									<td>$24866.66</td>
									<td>@item.Specialty</td>
									@* <td><span class="badge  bg-label-warning">Resigned</span></td> *@
									<td class="" style="">
										<div class="d-flex align-items-center justify-content-between">
											<div class="w-px-75 d-flex align-items-center">
												<i class="icon-base bx bx-user icon-lg me-1_5 text-primary"></i>
												<span>98</span>
											</div>
											<div class="w-px-75 d-flex align-items-center">
												<i class="icon-base bx bx-book-open icon-lg me-1_5 text-info"></i>
												<span>5</span>
											</div>
											<div class="w-px-75 d-flex align-items-center">
												<i class="icon-base bx bx-video icon-lg me-1_5 text-danger"></i>
												<span>37</span>
											</div>
										</div>
									</td>
									<td>
										<div class="d-inline-block">
											<a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow me-1" data-bs-toggle="dropdown">
												<i class="bx bx-dots-vertical-rounded bx-md"></i>
											</a>
											<ul class="dropdown-menu dropdown-menu-end m-0">
												<li><a href="javascript:;" class="dropdown-item">Details</a></li>
												<li><a href="javascript:;" class="dropdown-item">Archive</a></li>
												<li>
													<a href="javascript:void(0);" onclick="deleteRow('/Courses/Delete/@item.Id')" class="dropdown-item text-danger delete-record">
														Delete
													</a>
												</li>


											</ul>
										</div>
										@* data-bs-target="#CourseCreateEditForm" *@
										<a class="btn btn-icon item-edit" onclick="Get('Courses/CreateEdit/@item.Id', 'modalContent','CourseCreateEditModalId')" tabindex="0">
											<i class="bx bx-edit bx-md"></i>
										</a>
									</td>


								</tr>

							}

						</tbody>
					</table>
					<div class="row mt-5">
						<div class="col-sm-12 col-md-3">
							<div class="dataTables_length" id="DataTables_Table_0_length">
								show
								<label>

									<select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
										<option value="7">7</option>
										<option value="10">10</option>
										<option value="25">25</option>
										<option value="50">50</option>
										<option value="75">75</option>
										<option value="100">100</option>
									</select>
								</label>
							</div>
						</div>

						<div class="col-sm-12 col-md-6">
							<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
								<ul class="pagination">
									<li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
										<a aria-controls="DataTables_Table_0" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="-1" class="page-link">
											<i class="bx bx-chevron-left bx-18px">
											</i>
										</a>
									</li>
									<li class="paginate_button page-item active">
										<a href="#" aria-controls="DataTables_Table_0" role="link" aria-current="page" data-dt-idx="0" tabindex="0" class="page-link">1</a>
									</li>
									<li class="paginate_button page-item ">
										<a href="#" aria-controls="DataTables_Table_0" role="link" data-dt-idx="1" tabindex="0" class="page-link">2</a>
									</li>
									<li class="paginate_button page-item ">
										<a href="#" aria-controls="DataTables_Table_0" role="link" data-dt-idx="2" tabindex="0" class="page-link">3</a>
									</li>
									<li class="paginate_button page-item ">
										<a href="#" aria-controls="DataTables_Table_0" role="link" data-dt-idx="3" tabindex="0" class="page-link">4</a>
									</li>
									<li class="paginate_button page-item ">
										<a href="#" aria-controls="DataTables_Table_0" role="link" data-dt-idx="4" tabindex="0" class="page-link">5</a>
									</li>
									<li class="paginate_button page-item disabled" id="DataTables_Table_0_ellipsis">
										<a aria-controls="DataTables_Table_0" aria-disabled="true" role="link" data-dt-idx="ellipsis" tabindex="-1" class="page-link">…</a>
									</li>
									<li class="paginate_button page-item ">
										<a href="#" aria-controls="DataTables_Table_0" role="link" data-dt-idx="14" tabindex="0" class="page-link">15</a>
									</li>
									<li class="paginate_button page-item next" id="DataTables_Table_0_next">
										<a href="#" aria-controls="DataTables_Table_0" role="link" data-dt-idx="next" tabindex="0" class="page-link">
											<i class="bx bx-chevron-right bx-18px">

											</i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-12 col-md-3">
							<div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 7 of 100 entries</div>
						</div>
					</div>
					<div style="width: 1%;"></div><div style="width: 1%;"></div>
				</div>
			</div>
		</div>
	</div>

</div>