
@model Core.Dto_s.InstructorDto;

<!-- Form to add a new course -->
<form id="InstructorCreateEditFormId">
	<!-- Details-->
	<input type="number" asp-for="InstructorId" hidden="hidden" id="insId"></input>
	<div class="col-12">
		<h6 class="text-start">1. Instructor Details</h6>
		<hr class="mt-0">
	</div>

	<div class="row mb-3">
		<div class="col-md-6 form-control-validation fv-plugins-icon-container">
			<label class="form-label d-block text-start" for="CurrentCourse">Course name</label>
			<input type="text" id="InsCrsNameId" asp-for="CurrentCourse" class="form-control" placeholder="Enter Course name">
			<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
		</div>
		<div class="col-md-6 form-control-validation fv-plugins-icon-container">
			<label class="form-label d-block text-start" for="Salary">Salary</label>
			<input type="number" class="form-control" asp-for="Salary" name="Salary" id="SalaryId" placeholder="Enter teacher Salary">
			<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-12 form-control-validation fv-plugins-icon-container">
			<label class="form-label d-block text-start" for="Certificate">Certificate</label>
			<textarea type="text" id="CertificateId" asp-for="Certificate" class="form-control" placeholder="Enter Certificate" name="Certificate"></textarea>
			<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
		</div>

	</div>
	<div class="row mb-3">
		<div class="col-md-6 form-control-validation fv-plugins-icon-container">
			<label class="form-label d-block text-start" for="TimeWork">Time Work</label>
			<input type="text" id="TimeWorkId" class="form-control" asp-for="TimeWork" placeholder="Enter Time Work">
			<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
		</div>
		<div class="col-md-6 form-control-validation fv-plugins-icon-container">
			<label class="form-label d-block text-start" for="DaysWork">Dayes Work</label>
			<input type="text" class="form-control" id="DaysWorkId" asp-for="DaysWork" placeholder="Enter DaysWork">
			<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-12 form-control-validation fv-plugins-icon-container">
			<label class="form-label d-block text-start" for="InsName">Users</label>
			<select class="form-control rounded-3" asp-for="InsUser_Id" asp-items="@(ViewData["AllUser"] as SelectList)">
				<option value="">-- Select Category --</option>
			</select>
			<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
		</div>

	</div>

	<!-- Choose Your Plan -->
	<div class="col-12">
		<h6 class="text-start">2. Choose Your Plan</h6>
		<hr class="mt-0">
	</div>
	<div class="row gy-3 mt-0">
		<div class="col-xl-3 col-md-5 col-sm-6 col-12 form-control-validation fv-plugins-icon-container">
			<div class="form-check custom-option custom-option-icon checked">
				<label class="form-check-label custom-option-content" for="basicPlanMain1">
					<span class="custom-option-body">
						<i class="icon-base bx bx-rocket"></i>
						<span class="custom-option-title"> Starter </span>
						<small> Get 5gb of space and 1 team member.</small>
					</span>
					<input name="formValidationPlan" class="form-check-input" type="checkbox" value="" id="basicPlanMain1" checked="">
				</label>
			</div>
		</div>
		<div class="col-xl-3 col-md-5 col-sm-6 col-12 form-control-validation">
			<div class="form-check custom-option custom-option-icon">
				<label class="form-check-label custom-option-content" for="basicPlanMain2">
					<span class="custom-option-body">
						<i class="icon-base bx bx-user"></i>
						<span class="custom-option-title"> Personal </span>
						<small> Get 15gb of space and 5 team member. </small>
					</span>
					<input name="formValidationPlan" class="form-check-input" type="checkbox" value="" id="basicPlanMain2">
				</label>
			</div>
		</div>
		<div class="col-xl-3 col-md-5 col-sm-6 col-12 form-control-validation">
			<div class="form-check custom-option custom-option-icon">
				<label class="form-check-label custom-option-content" for="basicPlanMain3">
					<span class="custom-option-body">
						<i class="icon-base bx bx-crown"></i>
						<span class="custom-option-title"> Premium </span>
						<small> Get 25gb of space and 15 members. </small>
					</span>
					<input name="formValidationPlan" class="form-check-input" type="checkbox" value="" id="basicPlanMain3">
				</label>
			</div>
		</div>

	</div>
	<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
</form>

<div class="col-12 form-control-validation">
	<button type="button" name="submitButton" onclick="submit('/Instructor/CreateEdit', 'InstructorCreateEditFormId')" class="btn btn-primary">Submit</button>
</div>
<!-- #endregion Form For Add And Update -->
