<section class="course__area grey-bg pt-40 pb-40">
   <div class="container-fluid">


      <div class="row">
         <div class="col-xxl-6 offset-xxl-3 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
            <div class="section__title-wrapper text-center mb-60">
               <h2 class="section__title">Online<span class="yellow-bg"> Courses <img
                        src="assets/img/shape/yellow-bg-2.png" alt=""> </span> <br> For Everyone, Everywhere
               </h2>
               <p>Embark on a journey of knowledge and faith with our comprehensive online courses in Quran, Hadith, and
                  Arabic.</p>
            </div>
         </div>

         <!-- <div class="col-xxl-6 col-xl-6 col-lg-6">
        <div class="float-md-end fix">
          <a [routerLink]="['/courses']" class="link-btn">
            Explore All Courses
            <i class="far fa-arrow-right"></i>
            <i class="far fa-arrow-right"></i>
          </a>
        </div>
      </div> -->
      </div>






      <div class="row">
         <div *ngFor="let course of coursesData" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
            <div class="course__item white-bg mb-30 fix" (click)="goToCourse(course.id)" style="cursor: pointer;">
               <div *ngFor="let file of course.fileName" class="course__thumb w-img p-relative fix">
                  <div class="position-relative">
                     <img [src]="buildImageUrl(file)" [alt]="course.courseName" class="card-img-top fixed-image">
                  </div>
               </div>
               <div class="course__content">
                  <div class="course__meta d-flex align-items-center justify-content-between">
                     <div class="course__lesson">
                        <span><i class="far fa-book-alt"></i>{{ course.coursesTime }} Lesson</span>
                     </div>
                     <div class="course__rating">
                        <span><i class="icon_star"></i>4.4</span>
                     </div>
                  </div>
                  <h3 class="course__title">
                     {{ course.courseName }}
                  </h3>
                  <div class="course__teacher d-flex align-items-center">
                     <h6>{{ course.Specialty }}</h6>
                  </div>
               </div>
               <div class="course__more d-flex justify-content-between align-items-center">
                  <div class="course__status d-flex align-items-center">
                     <span [class]="course.color">${{ course.coursePrice }}</span>
                     <span class="old-price">${{ course.coursePrice }}</span>
                  </div>
                  <div class="course__btn">
                     <span class="link-btn">
                        Know Details
                        <i class="far fa-arrow-right"></i>
                        <i class="far fa-arrow-right"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>






   </div>

</section>