<section class="what__area pt-40 pb-40">
  <div class="">
    <div class="row">
      <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
        <div class="section__title-wrapper mb-60 text-center">
          <h2 class="section__title">What is <span class="yellow-bg-big">Skilline? <img
                src="assets/img/shape/yellow-bg-2.png" alt=""></span></h2>
          <p>Discover how Skilline can transform your learning experience with engaging content, expert instructors, and
            a supportive community to help you achieve your goals and grow professionally.</p>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-5 offset-xl-1 col-xl-5 offset-xl-1 col-lg-6">
        <div class="what__item transition-3 mb-30 p-relative fix">
          <div class="what__thumb w-img">
            <img src="assets/img/what/pexels-umaraffan499-394355.jpg" alt="">
          </div>
          <div class="what__content p-absolute text-center">
            <h3 class="what__title white-color">Mostly <br> Online Learning</h3>
            <a [routerLink]="['/contact']" class="e-btn e-btn-border-2">Start a class today</a>
          </div>
        </div>
      </div>
      <div class="col-xxl-5 col-xl-5 col-lg-6">
        <div class="what__item transition-3 mb-30 p-relative fix">
          <div class="what__thumb w-img">
            <img src="assets/img/what/pexels-umaraffan499-394355.jpg" alt="">
          </div>
          <div class="what__content p-absolute text-center">
            <h3 class="what__title white-color">Become <br> an Instructor</h3>
            <a [routerLink]="['/contact']" class="e-btn e-btn-border-2">Start teaching</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>