<section class="slider__area p-relative">
  <div class="slider__wrapper swiper-container">
    <swiper class="swiper-wrapper" [slidesPerView]="1" [loop]="true" [effect]="'fade'"
      [autoplay]="{delay: 5000,disableOnInteraction: false}">

      <ng-template swiperSlide>
        <div class="single-slider swiper-slide slider__height slider__overlay d-flex align-items-center"
          [ngStyle]="{background:'url(assets/img/slider/pexels-fatemah-khaled-2236514-3936216.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
          <div class="container">
            <div class="row">
              <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-9 col-sm-10">
                <div class="slider__content">
                  <span>Embrace the Light</span>
                  <h3 class="slider__title">Master the Recitation of the <span class="yellow-bg">Holy Quran
                      <img src="assets/img/shape/yellow-bg.png" alt=""> </span></h3>
                  <p>Learn the art of Tajweed and connect deeply with the words of Allah.</p>
                  <a [routerLink]="['/about']" class="e-btn slider__btn">Start Your Journey</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="single-slider swiper-slide slider__height slider__overlay d-flex align-items-center"
          [ngStyle]="{background:'url(assets/img/slider/pexels-haleyve-2087322.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
          <div class="container">
            <div class="row">
              <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-9 col-sm-10">
                <div class="slider__content">
                  <span>Learn & Reflect</span>
                  <h3 class="slider__title">Deepen Your Understanding of <span class="yellow-bg">Hadith
                      <img src="assets/img/shape/yellow-bg.png" alt=""> </span></h3>
                  <p>Explore the teachings of the Prophet Muhammad (peace be upon him) in detail.</p>
                  <a [routerLink]="['/about']" class="e-btn slider__btn">Join Now</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="single-slider swiper-slide slider__height slider__overlay d-flex align-items-center"
          [ngStyle]="{background:'url(assets/img/slider/pexels-haleyve-2087323.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
          <div class="container">
            <div class="row">
              <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-9 col-sm-10">
                <div class="slider__content">
                  <span>Speak with Confidence</span>
                  <h3 class="slider__title">Master the Beauty of the <span class="yellow-bg">Arabic Language
                      <img src="assets/img/shape/yellow-bg.png" alt=""> </span></h3>
                  <p>Learn to read, write, and speak the language of the Quran fluently.</p>
                  <a [routerLink]="['/about']" class="e-btn slider__btn">Discover More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="single-slider swiper-slide slider__height slider__overlay d-flex align-items-center"
          [ngStyle]="{background:'url(assets/img/slider/pexels-haleyve-2087322.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
          <div class="container">
            <div class="row">
              <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-9 col-sm-10">
                <div class="slider__content">
                  <span>Join Our Community</span>
                  <h3 class="slider__title">Experience a Global <span class="yellow-bg">Islamic Academy
                      <img src="assets/img/shape/yellow-bg.png" alt=""> </span> Network</h3>
                  <p>Connect with scholars and students dedicated to spreading Islamic knowledge.</p>
                  <a [routerLink]="['/about']" class="e-btn slider__btn">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>

  <div class="row g-0">
    <div *ngFor="let item of sliderNavData" class="d-none d-md-block col-md-6 col-lg-3">
      <div class="slider__nav-item swiper-slide" [class]="item.bgColor"
        [ngStyle]="{background:'url('+ item.img +')',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
        <div class="slider__nav-content">
          <span>{{item.title}}</span>
          <h4>{{item.subtitle}}</h4>
        </div>
      </div>
    </div>
  </div>

</section>