@model Core.Dto_s.CourseDto

<!-- Header Section -->
<div class="row mb-4">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex flex-column flex-md-row justify-content-between align-items-center py-3">
                <h5 class="card-title mb-2 mb-md-0 d-flex align-items-center">
                    <i class="bx bx-book-add me-2"></i>
                    Add Course
                </h5>
            </div>
        </div>
    </div>
</div>

<form id="CreateEditFormId" class="form-section">
    <!-- Details-->
    <input type="number" asp-for="Id" hidden="hidden" id="crsId" />

    <div class="col-12">
        <h6 class="text-start section-title">
            <i class="bx bx-book-content"></i>
            1. Course Details
        </h6>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 form-control-validation fv-plugins-icon-container">
            <label class="form-label d-block text-start required-field" for="CrsName">Course Name</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bx bx-book"></i>
                </span>
                <input asp-for="CrsName" type="text" id="CrsNameId" class="form-control" placeholder="Enter course name">
            </div>
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>
        <div class="col-md-6 form-control-validation fv-plugins-icon-container">
            <label class="form-label d-block text-start required-field" for="TeacherName">Teacher</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bx bx-user"></i>
                </span>
                <input type="text" class="form-control" name="TeacherName" id="TeacherNameId" placeholder="Enter teacher name">
            </div>
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 form-control-validation fv-plugins-icon-container">
            <label class="form-label d-block text-start required-field" for="Description">Description</label>
            <textarea id="DescriptionId" class="form-control" placeholder="Enter course description" name="Description"></textarea>
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 form-control-validation fv-plugins-icon-container">
            <label class="form-label d-block text-start required-field" for="CoursesTime">Course Time</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bx bx-time"></i>
                </span>
                <input asp-for="CoursesTime" type="text" id="CoursesTimeId" class="form-control" placeholder="Enter Course Time">
            </div>
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>
        <div class="col-md-6 form-control-validation fv-plugins-icon-container">
            <label class="form-label d-block text-start required-field" for="SessionTime">Session Time</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bx bx-time"></i>
                </span>
                <input asp-for="SessionTime" type="time" class="form-control" id="SessionTimeId" placeholder="Enter Session Time">
            </div>
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 form-control-validation fv-plugins-icon-container">
            <label class="form-label d-block text-start required-field" for="Specialty">Specialty</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bx bx-star"></i>
                </span>
                <input asp-for="Specialty" type="text" id="SpecialtyId" class="form-control" placeholder="Enter specialty">
            </div>
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 form-control-validation fv-plugins-icon-container">
            <label class="form-label d-block text-start" for="formValidationName">Choose Youer File</label>
            <input asp-for="FileUpload.FormFile" type="file" class="form-control" id="fileId" placeholder="choose File" multiple />
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>
        <div class="col-md-6 form-control-validation fv-plugins-icon-container">
            <label class="form-label d-block text-start" for="formValidationName">File Note</label>
            <input asp-for="FileUpload.Note" type="text" id="NoteId" class="form-control" placeholder="Wright Note"></input>
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>
    </div>
    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
</form>

<div class="col-12 form-control-validation">
    <button type="button" name="submitButton" onclick="submit('/Courses/CreateEdit', 'CreateEditFormId')" class="btn btn-primary">Submit</button>
</div>
