<section class="price__area pt-40 pb-40">

  <div class="">
    <div class="row">

      <div class="col-xxl-4 offset-xxl-4">
        <div class="section__title-wrapper mb-60 text-center">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>

              <li class="breadcrumb-item active" aria-current="page">
                <!-- {{CourseData.courseName}} -->
              </li>
            </ol>
          </nav>
          <h2 class="section__title">Simple <br> All Inclusive <span class="yellow-bg yellow-bg-big">Pricing<img
                src="assets/img/shape/yellow-bg.png" alt=""></span></h2>
          <p>No contracts. No surprise fees.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-12">
        <div class="price__tab-btn text-center mb-50">
          <nav>
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-monthly-tab" data-bs-toggle="tab" data-bs-target="#nav-monthly"
                type="button" role="tab" aria-controls="nav-monthly" aria-selected="true">monthly plan</button>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
        <div class="price__tab-content">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-monthly" role="tabpanel" aria-labelledby="nav-monthly-tab">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4" *ngFor="let plan of coursePlans; let i = index">
                  <div class="price__item grey-bg mb-30 p-relative">

                    <div class="price__offer" *ngIf="plan.planNumber === 3">
                      <span>Best Value</span>
                    </div>

                    <div class="price__head">
                      <h3>{{ plan.planName }}</h3>
                      <p>Perfect for small marketing teams</p>
                    </div>

                    <div class="price__tag mb-25">
                      <h4>${{ plan.price }}</h4>
                    </div>

                    <div class="price__features mb-40">
                      <ul>
                        <li><i class="far fa-check"></i>Course Discussions</li>
                        <li><i class="far fa-check"></i>Content Library</li>
                        <li><i class="far fa-check"></i>Sessions: {{ plan.sessionCount }}</li>
                      </ul>
                    </div>


                    <a [routerLink]="['/contact']" class="e-btn" [ngClass]="plan.planNumber === 3 ? 'e-btn-border' : 'e-btn-4'">Book Now</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>