<section class="signup__area po-rel-z1 pt-100 pb-145">
  <div class="sign__shape">
    <img class="man-1" src="assets/img/icon/sign/man-3.png" alt="" />
    <img class="man-2 man-22" src="assets/img/icon/sign/man-2.png" alt="" />
    <img class="circle" src="assets/img/icon/sign/circle.png" alt="" />
    <img class="zigzag" src="assets/img/icon/sign/zigzag.png" alt="" />
    <img class="dot" src="assets/img/icon/sign/dot.png" alt="" />
    <img class="bg" src="assets/img/icon/sign/sign-up.png" alt="" />
    <img class="flower" src="assets/img/icon/sign/flower.png" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
        <div class="section__title-wrapper text-center mb-55">
          <h2 class="section__title">
            Create a free <br />
            Account
          </h2>
          <p>I'm a subhead that goes with a story.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
        <div class="sign__wrapper white-bg">
          <!-- <div class="sign__header mb-35">
            <div class="sign__in text-center">
              <a href="#" class="sign__social g-plus text-start mb-15"><i class="fab fa-google-plus-g"></i>Sign Up
                with Google</a>
              <p>
                <span>........</span> Or,
                <a [routerLink]="['/sign-up']">sign up</a> with your email<span>
                  ........</span>
              </p>
            </div>
          </div> -->
          <div class="sign__form">
            <!-- Start Register Form -->
            <form [formGroup]="registerForm" class="form register-form" id="register-form" (ngSubmit)="RegisterData()">

              <!-- First Name -->
              <div class="sign__input-wrapper mb-25">
                <h5>First Name</h5>
                <div class="sign__input">
                  <input type="text" formControlName="firstName" class="form-control" placeholder="First name" />
                  <i class="fal fa-user"></i>
                </div>
                <div *ngIf="registerForm.get('firstName')?.errors && registerForm.get('firstName')?.touched">
                  <div *ngIf="registerForm.get('firstName')?.getError('required')" class="alert alert-danger mt-2 p-2">
                    <strong>Error:</strong> First Name is Required
                  </div>
                  <div *ngIf="registerForm.get('firstName')?.getError('minlength')"
                    class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Minimum Length 2 Characters
                  </div>
                  <div *ngIf="registerForm.get('firstName')?.getError('maxlength')"
                    class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Maximum Length 20 Characters
                  </div>
                </div>
              </div>


              <!-- last Name -->
              <div class="sign__input-wrapper mb-25">
                <h5>Last Name</h5>
                <div class="sign__input">
                  <input type="text" formControlName="lastName" class="form-control" placeholder="Last name" />
                  <i class="fal fa-user"></i>
                </div>
                <div *ngIf="registerForm.get('lastName')?.errors && registerForm.get('lastName')?.touched">
                  <div *ngIf="registerForm.get('lastName')?.getError('required')" class="alert alert-danger mt-2 p-2">
                    <strong>Error:</strong> Last Name is Required
                  </div>
                  <div *ngIf="registerForm.get('lastName')?.getError('minlength')" class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Minimum Length 2 Characters
                  </div>
                  <div *ngIf="registerForm.get('lastName')?.getError('maxlength')" class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Maximum Length 20 Characters
                  </div>
                </div>
              </div>
              <!-- Country -->
              <div class="sign__input-wrapper mb-25">
                <h5>Country</h5>
                <div class="sign__input">
                  <input type="text" formControlName="country" class="form-control" placeholder="country" />
                  <i class="fal fa-user"></i>
                </div>
                <div *ngIf="registerForm.get('country')?.errors && registerForm.get('country')?.touched">
                  <div *ngIf="registerForm.get('country')?.getError('required')" class="alert alert-danger mt-2 p-2">
                    <strong>Error:</strong> Country is Required
                  </div>
                  <div *ngIf="registerForm.get('country')?.getError('minlength')" class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Minimum Length 3 Characters
                  </div>
                </div>
              </div>
              <!-- Email -->
              <div class="sign__input-wrapper mb-25">
                <h5>Work email</h5>
                <div class="sign__input">
                  <!-- <input type="email" formControlName="email" placeholder="e-mail address" /> -->
                  <input type="email" formControlName="email" placeholder="e-mail address" ng-reflect-name="email"
                    class="ng-untouched ng-pristine ng-invalid" autocomplete="username">

                  <i class="fal fa-envelope"></i>
                </div>
                <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
                  <div *ngIf="registerForm.get('email')?.getError('required')" class="alert alert-danger mt-2 p-2">
                    <strong>Error:</strong> Email is Required
                  </div>
                  <div *ngIf="registerForm.get('email')?.getError('email')" class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Email Not Valid
                  </div>
                </div>
              </div>
              <!-- PassWord -->
              <div class="sign__input-wrapper mb-25">
                <h5>Password</h5>
                <div class="sign__input">
                  <!-- <input type="password" formControlName="password" class="form-control" placeholder="Password" /> -->
                  <input type="password" formControlName="password" placeholder="Password"
                    class="form-control ng-dirty ng-valid ng-touched" ng-reflect-name="password"
                    autocomplete="current-password">

                  <i class="fal fa-lock"></i>
                </div>
                <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
                  <div *ngIf="registerForm.get('password')?.getError('required')" class="alert alert-danger mt-2 p-2">
                    <strong>Error:</strong> Password is Required
                  </div>
                  <div *ngIf="registerForm.get('password')?.getError('lowercase')" class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Password must contain at least one lowercase letter
                  </div>
                  <div *ngIf="registerForm.get('password')?.getError('uppercase')" class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Password must contain at least one uppercase letter
                  </div>
                  <div *ngIf="registerForm.get('password')?.getError('number')" class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Password must contain at least one number
                  </div>
                  <div *ngIf="registerForm.get('password')?.getError('special')" class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Password must contain at least one special character
                  </div>
                  <div *ngIf="registerForm.get('password')?.getError('length')" class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Password must be between 6 and 20 characters long
                  </div>
                </div>
              </div>

              <!-- Confirm PassWord -->
              <div class="sign__input-wrapper mb-25">
                <h5> Confirm Password</h5>
                <div class="sign__input">
                  <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
                  <i class="fal fa-lock"></i>
                </div>
                <div
                  *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched">
                  <div *ngIf="registerForm.get('confirmPassword')?.getError('required')"
                    class="alert alert-danger mt-2 p-2">
                    <strong>Error:</strong> Confirm Password is required.
                  </div>
                  <div *ngIf="registerForm.get('confirmPassword')?.getError('mismatch')"
                    class="alert alert-warning mt-2 p-2">
                    <strong>Warning:</strong> Passwords do not match.
                  </div>
                </div>
              </div>


              <!-- Phone Number -->
              <div class="sign__input-wrapper mb-25">
                <h5>Phone Number</h5>
                <div class="sign__input">
                  <input type="phone" formControlName="phoneNumber" placeholder="phone Number" />
                  <i class="fal fa-envelope"></i>
                </div>
                <div *ngIf="registerForm.get('phoneNumber')?.errors && registerForm.get('phoneNumber')?.touched">
                  <div *ngIf="registerForm.get('phoneNumber')?.getError('required')"
                    class="alert alert-danger mt-2 p-2">
                    <strong>Error:</strong> phone Number is Required
                  </div>
                </div>
              </div>
              <!-- Language-->
              <div class="sign__input-wrapper mb-25">
                <h5>Language</h5>
                <div class="sign__input">
                  <input type="language" formControlName="language" placeholder="Language" />
                  <i class="fal fa-envelope"></i>
                </div>
                <div *ngIf="registerForm.get('language')?.errors && registerForm.get('language')?.touched">
                  <div *ngIf="registerForm.get('language')?.getError('required')" class="alert alert-danger mt-2 p-2">
                    <strong>Error:</strong> Language is Required
                  </div>
                </div>
              </div>

              <div class="sign__action d-flex justify-content-between mb-30">
                <div class="sign__agree d-flex align-items-center">
                  <input class="m-check-input" type="checkbox" id="m-agree" />
                  <label class="m-check-label" for="m-agree">I agree to the <a href="#">Terms & Conditions</a>
                  </label>
                </div>
              </div>
              <div class="text-danger" *ngIf="ResponseMssage">
                {{ ResponseMssage }}
              </div>
              <button type="submit" class="e-btn w-100"><span></span>
                Sign Up <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
              </button>
              <div class="sign__new text-center mt-20">
                <p>
                  Already in Educal ?
                  <a [routerLink]="['/sign-in']"> Sign In</a>
                </p>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>